<div class="container">
    <h2>Listado de productos</h2>
    {{#if isValid}}
    <div>
        {{#each docs}}
        <div>
            <p>Code: {{this.code}} &nbsp; Titulo: {{this.title}} &nbsp; Descripcion: {{this.description}}</p>
            <p>Precio: {{this.price}} &nbsp; Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Imagenes: {{this.thumbnails}}</p>
        </div>
        <br/>
        {{/each}}
    </div>
    <br/>
    <div>
        {{#if hasPrevPage}}
            <a href={{this.prevLink}}><< Anterior</a>
        {{/if}}
        &nbsp;
        {{this.page}}
        &nbsp;
        {{#if hasNextPage}}
            <a href={{this.nextLink}}>Siguiente >></a>
        {{/if}} 
    </div>
    {{else}}
    <h1>No hay productos para mostrar</h1>
    {{/if}}
</div>