<div class="container">
    <h2>Listado de productos</h2>
    <div>
        {{#each docs}}
        <ul class="body-ul container fs-4">Code: <strong>{{this.code}}</strong>
            <li class="body-li fs-5">Titulo: <strong>{{this.title}}</strong> - Descripcion: <strong>{{this.description}}</strong></li>
            <li class="body-li fs-5">Precio: <strong>{{this.price}}</strong></li>
            <li class="body-li fs-5">Stock: <strong>{{this.stock}}</strong></li>
            <li class="body-li fs-5">Categoría: <strong>{{this.category}}</strong></li>
            {{!-- <li class="body-li fs-5">Imagenes: <strong>{{this.thumbnails}}</strong></li> --}}
        </ul>
        {{!-- <button type="button" class="btn btn-light" onclick="location.href='http://localhost:8080/api/carts/64c84f6ab338474a4bf98594/products/{{this._id}}'">Agregar al carrito</button> --}}
        {{!-- agregar un fetch para traer el post --}}
        <br/>
        {{/each}}
    </div>
    <br/>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {{#if hasPrevPage}}
                <li class="page-item">
            {{else}}
                <li class="page-item disabled">
            {{/if}}
                <a class="page-link" href={{this.prevLink}} aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">{{this.page}}</a></li>
            {{#if hasNextPage}}
            <li class="page-item">
            {{else}}
            <li class="page-item disabled">
            {{/if}}
                <a class="page-link" href={{this.nextLink}} aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>