<h2>Admin Menu</h2>


<h2>Usuarios</h2>
<div class="container">
<form method="POST" action="api/users/?_method=DELETE" class="container w-100 d-flex justify-content-center">
    <button type="submit" class="btn btn-light w-25">Eliminar usuarios sin uso</button>
</form>
<br>
    {{#each users}}
        <div class="card mb-3">
            <div class="card-body card-bg-color">
                <div class="container">
                    <div class="row">
                        <ul>
                            <li>Email: {{this.email}}</li>
                            <li>Usuario: {{this.first_name}} {{this.last_name}}</li>
                            <li>Rol: {{this.role}}</li>
                            <li>Ultima conexión: {{this.last_connection}}</li>
                        </ul>
                        <div class="container w-100 d-flex justify-content-center">
                            <form method="POST" action="api/users/premium/{{this._id}}?_method=PUT" class="container w-100 d-flex justify-content-center">
                                <button type="submit" class="btn btn-light w-50">Modificar rol</button>
                            </form>
                            <form method="POST" action="api/users/{{this._id}}?_method=DELETE" class="container w-100 d-flex justify-content-center">
                                <button type="submit" class="btn btn-light w-50">Eliminar usuario</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>