<div class="container">
    <h2>Carrito de compras</h2>
    {{#if _id}}
        {{#if products.length}}
            {{#each products}}
                <div class="card mb-3">
                    <div class="card-body card-bg-color">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">Titulo: <strong>{{this.prodId.title}}</strong></h5>
                                    <p class="card-text">Codigo: {{this.prodId.code}}</p>
                                </div>
                                <div class="col">
                                    <p class="fs-5">Cantidad: <strong>{{this.quantity}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            <form method="POST" action="../api/carts/{{user.cartId}}/purchase?_method=PUT" class="container d-flex justify-content-center">
                <button type="submit" class="btn btn-light w-25">Finalizar compra</button>
            </form>
        {{else}}
            <p>Nada en el carrito</p>
            <a href="../products">Listado de productos</a>
        {{/if}}
    {{/if}}
</div>